@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: IndexHeader.razor
    **
    **  Description:
    **      Header display for Main (mode 0)
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@


@using Notes2021Blazor.Shared
@inject ILocalStorageService _localStorage

<h3 class="text-center">@Model.noteFile.NoteFileName - @Model.noteFile.NoteFileTitle @Model.linkedText </h3>
<h5>
    Last Edited - @Model.tZone.LocalBlazor(@Model.noteFile.LastEdited) @*@Model.tZone.Abbreviation*@
    <span class="keep-right">
        @if (Model.noteFile.NumberArchives > 0)
        {
            <span>archive @arcId of @Model.noteFile.NumberArchives &nbsp;&nbsp;&nbsp;</span>
        }
        Base Notes - @BasenoteCount&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</h5>


@code{
    [Parameter] public NoteDisplayIndexModel Model { get; set; }
    [Parameter] public int BasenoteCount { get; set; }
    [Parameter] public int arcId { get; set; }
}